*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Noto Sans KR',sans-serif;
  background:#0c0d13;
  color:white;
  overflow-x:hidden;
}

header{
  position:fixed;
  top:0;
  width:100%;
  background:rgba(0,0,0,0.7);
  backdrop-filter:blur(10px);
  z-index:1000;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 50px;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:1.5rem;
  font-weight:bold;
}

.logo img{
  width:60px;
  height:60px;
  border-radius:50%;
}

nav{
  display:flex;
  gap:15px;
}

.menu-btn{
  background:none;
  border:none;
  color:white;
  font-size:1rem;
  cursor:pointer;
  transition:0.3s;
}

.menu-btn:hover{
  color:#8f7cff;
}

.page{
  display:none;
  min-height:100vh;
  padding:140px 8%;
}

.page.active{
  display:block;
}

.hero{
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  gap:50px;
}

.hero-text h1{
  font-size:4rem;
  line-height:1.3;
  margin-bottom:30px;
}

.hero-text span{
  color:#8f7cff;
}

.hero-text p{
  line-height:2;
  font-size:1.2rem;
  color:#ddd;
}

.hero-image img{
  width:100%;
  border-radius:30px;
}

.content-box{
  max-width:1000px;
  margin:auto;
  background:rgba(255,255,255,0.05);
  padding:60px;
  border-radius:30px;
  line-height:2;
}

.content-box h2{
  font-size:3rem;
  margin-bottom:30px;
  color:#8f7cff;
}





































































































































































































































































